/* aqui hay las directivas @apply, .scss y SASS no es muy compatible con Tailwind */

body {
    @apply text-uoc-corporate bg-uoc-backg flex flex-col h-screen font-sans text-[1em] leading-[1.5em];
}

a.main-link {
    @apply text-uoc-corporate hover:text-uoc-masterbrand
}

blockquote {
    @apply w-[80%] text-justify pt-8 pb-8;
}

.fig-jornadas {
    font-size: smaller;
}

blockquote> :where(p, li, ul) {
    font-size: 1.2em;
}

div:has(blockquote) {
    gap: 3em;
}