<footer class="bg-white md:bg-lightgrey md:pl-[20%] md:pr-[20%] md:gap-y-8">
  <div class="text-center leading-[2.5em] pt-8 pb-6 md:grid md:grid-cols-2">
    <p>Oriol Cardona Alsina</p>
    <p>Universitat Oberta de Catalunya</p>
    <p>+34 123 456 789</p>
    <p><a href="mailto:cookXperiences@gmail.com" class="main-link">cookXperiences@gmail.com</a></p>
  </div>
  <hr class="w-[80%] ml-[10%] md:w-[100%] md:ml-0 border-3 border-uoc-corporate opacity-25">
  <div class="text-center lg:grid lg:grid-cols-[1fr_auto_1fr] lg:w-full lg:px-[10%] lg:items-center lg:flex-row">
    <include src="./components/logo.html" locals='{
      "title": "CookXperiences"
    }'></include>
    <include class="lg:justify-self-center" src="./components/navigation.html" locals='{
            "links": [
            {
                "name": "Participantes",
                "link": "./index.html"
            },
            {
                "name": "Jornadas",
                "link": "./jornadas.html"
            }
            ]
        }'>
    </include>
    <div class="pb-8">
      <a href="https://support.google.com/answer/2451065?hl=en"><i class="fa-brands fa-google-plus-g text-2xl"></i></a>
      <a href="https://x.com/?lang=es"><i
          class="fa-brands fa-square-x-twitter text-2xl ml-8 mr-8 lg:ml-4 lg:mr-4"></i></a>
      <a href="https://www.facebook.com/?locale=es_ES/"><i class="fa-brands fa-square-facebook text-2xl"></i></a>
    </div>
  </div>
</footer>