<header>
    <div class="text-center lg:flex lg:justify-between lg:w-full lg:px-[10%] lg:items-center lg:flex-row">
        <div class="pt-8 pb-10">
            <i class="fa-solid fa-utensils lg:text-left text-5xl"></i>
            <h2 class="lg:text-right text-2xl font-medium">CookXperiences</h2>
        </div>
        <nav class="pt-8">
            <ul>
                <li class="mb-4">
                    <a href="./index.html" class="text-uoc-corporate hover:text-uoc-masterbrand">Participantes</a>
                </li>
                <li class="mb-4">
                    <a href="./jornadas.html" class="text-uoc-corporate hover:text-uoc-masterbrand">Jornadas</a>
                </li>
            </ul>
        </nav>

    </div>
    <hr>
</header>