<header class="bg-white pb-8">
    <div class="text-center lg:flex lg:justify-between lg:w-full lg:px-[10%] lg:items-center lg:flex-row">
        <include src="./components/logo.html" locals='{
            "title": "CookXperiences"
        }'></include>
        <include src="./components/navigation.html" locals='{
            "links": [
            {
                "name": "Participantes",
                "link": "./index.html"
            },
            {
                "name": "Jornadas",
                "link": "./jornadas.html"
            }
            ]
        }'>
        </include>
    </div>
    <hr class="w-[80%] ml-[10%] border-3 border-uoc-corporate opacity-25">
</header>