@use "sass:color";

@theme {
  --color-uoc-backg: #d5f9ff;
  --color-uoc-corporate: #000078;
  --color-uoc-masterbrand: #73edff;
  --color-white: #ffffff;
  --color-lightgrey: #D3D3D3;

  --breakpoint-sm: 360px;
  --breakpoint-md: 480px;
  --breakpoint-lg: 768px;

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  --font-serif: "Georgia", "Times New Roman", serif
}
